# Contents
### 1. Import Libraries and Data
### 2. Creation of happiness_flag
### 3. Export Data

# 1. Import Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

In [2]:
%matplotlib inline

In [3]:
path= r'C:\Users\spada\OneDrive\Data Analytics\World Happiness Report'

In [4]:
df_combined=pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_combined.pkl'))

In [5]:
df_combined

                    country/region  happiness_rank  happiness_score  \
year
2015 0                 Switzerland               1            7.587
     1                     Iceland               2            7.561
     2                     Denmark               3            7.527
     3                      Norway               4            7.522
     4                      Canada               5            7.427
...                            ...             ...              ...
2019 151                    Rwanda             152            3.334
     152                  Tanzania             153            3.231
     153               Afghanistan             154            3.203
     154  Central African Republic             155            3.083
     155               South Sudan             156            2.853

          gdp_per_capita  social_support   health  freedom  \
year
2015 0           1.39651         1.34951  0.94143  0.66557
     1           1.30232         1.40223  0.94784  0.62877
     2           1.32548         1.36058  0.87464  0.64938
     3           1.45900         1.33095  0.88521  0.66973
     4           1.32629         1.32261  0.90563  0.63297
...                  ...             ...      ...      ...
2019 151         0.35900         0.71100  0.61400  0.55500
     152         0.47600         0.88500  0.49900  0.41700
     153         0.35000         0.51700  0.36100  0.00000
     154         0.02600         0.00000  0.10500  0.22500
     155         0.30600         0.57500  0.29500  0.01000

          trust_in_government  generosity  year happiness_flag
year
2015 0                0.41978     0.29678  2015     most_happy
     1                0.14145     0.43630  2015     most_happy
     2                0.48357     0.34139  2015     most_happy
     3                0.36503     0.34699  2015     most_happy
     4                0.32957     0.45811  2015     most_happy
...                       ...         ...   ...            ...
2019 151              0.41100     0.21700  2019    least_happy
     152              0.14700     0.27600  2019    least_happy
     153              0.02500     0.15800  2019    least_happy
     154              0.03500     0.23500  2019    least_happy
     155              0.09100     0.20200  2019    least_happy

[782 rows x 11 columns]

# 2. Creation of happiness_flag

In [6]:
#Assigning happiness flag labels
df_combined.loc[df_combined['happiness_score'] < 4.5, 'happiness_flag'] = 'least_happy'

In [7]:
df_combined.loc[(df_combined['happiness_score'] >= 4.5) & (df_combined['happiness_score'] < 6), 'happiness_flag'] = 'average_happy'

In [8]:
#Assigning happiness flag labels
df_combined.loc[df_combined['happiness_score'] >= 6, 'happiness_flag'] = 'most_happy'

In [9]:
df_combined ['happiness_flag'].value_counts(dropna=False)

average_happy    355
most_happy       235
least_happy      192
Name: happiness_flag, dtype: int64

In [ ]:
happiness_variables_bar=df_combined['order_day_of_week'].value_counts().sort_index().plot.bar(color = ['lightsteelblue', 'cornflowerblue', 'dodgerblue', 'steelblue', 'blue', 'mediumblue', 'midnightblue'])
plt.title('Order Frequency according to Day of the Week', fontsize = 14, pad=20)
plt.ylabel('Frequency', fontsize = 12)
plt.xlabel('Days of the Week',  fontsize = 12)

# 3. Export Data

In [14]:
# Exporting df_combined since I added a "happiness_flag"
df_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_combined.pkl'))

In [15]:
df_combined.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_combined.csv'))